<!-- !Experience section. -->
<section class="experience-section" id="experience-section">
  <div class="section-bg"></div>

  <div class="container">
    <div class="row">
      <div class="section-heading col-12 col-lg-4 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
        <h1 class="mb-0">Experience</h1>
      </div>

      <div class="col-12 col-lg-8">
        <% for(let i=0;i<experiences.length ;i++){ %>
        <!-- !experience -1 row -->
        <div class="row experience">
          <!-- !For drawing line and dot content.  -->
          <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
            <% if(i==0){ %> 
             <div class="col">&nbsp;</div>
            <% }else{ %> 
              <div class="col border-right">&nbsp;</div>
              <% } %> 
              <div class="col">&nbsp;</div>
            </div>
            <div class="m-2">
              <% if(i==0){ %>
              <span class="badge badge-pill border exp-fill">&nbsp;</span>
              <% }else{ %>
              <span class="badge badge-pill border">&nbsp;</span>
              <% } %>
            </div>
            <% if(i!=experiences.length-1){ %> 
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <% } %> 
          </div>
          <!-- ! Row content experience -will hold the card.  -->
          <div class="col py-2">
            <div class="card">
              <div class="card-body">
                <div class="section-subheading card-title exp-title text-muted mt-0 mb-1">
                  <%= experiences[i].designationInCompany%>
                </div>
                <div class="section-subheading card-title exp-company text-muted my-0">
                  <a href="<%= experiences[i].companyLink%>" target="_blank" rel="noopener"> <%= experiences[i].companyName  %> </a>
                </div>
                <div class="text-muted exp-meta">
                  <%= experiences[i].experienceMonth%>
                  <span class="middot-divider"></span>
                  <span> . <%= experiences[i].jobLocation%></span>
                </div>
                <br />
                <div class="card_text">
                  <ul>
                    <% for(let j=0;j<experiences[i].jobDescription.length;j++){ %>
                    <li><%= experiences[i].jobDescription[j]%></li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>